/basetest/.idea
/HsfService/.idea
/springtagDemo/.idea
/basetest/*.iml
/HsfService/*.iml
/springtagDemo/*.iml
/springbootDemo/.idea
/springbootDemo/*.iml
/*.bak
/springbootDemo/.idea/*
/jerseytest/.idea
/jerseytest/*.iml
/jerseytest/target
/jacksontest/.idea
/jacksontest/target
/jacksontest/*.iml
